<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="WAM-V">
  <!-- Defines the base vehicle -->
  <xacro:include filename="$(find wamv_description)/urdf/wamv_base_nctu.xacro" />


  <!-- Attach hydrodynamics plugin -->
  <xacro:include filename="$(find robotx_gazebo)/urdf/wamv_gazebo_dynamics_plugin.xacro" />
  <xacro:usv_dynamics_gazebo name="wamv_dynamics_plugin"/>

  <!-- Attach wind plugin -->
  <xacro:if value="$(arg wind)">
      <xacro:include filename="$(find robotx_gazebo)/urdf/wamv_gazebo_wind_plugin.xacro" />
      <xacro:usv_wind_gazebo name="wamv_wind_plugin"/>
  </xacro:if>

  <!-- Attach thrust plugin -->
  <xacro:include filename="$(find robotx_gazebo)/urdf/wamv_gazebo_thrust_plugin.xacro" />
  <xacro:usv_thrust_gazebo name="wamv_thrust_plugin"/>

  <!-- Attach front camera plugin --> 
  <xacro:if value="$(arg front_camera)">
      <xacro:include filename="$(find robotx_gazebo)/urdf/wamv_gazebo_front_camera_plugin.xacro" />
      <xacro:wamv_front_camera name="wamv_front_camera">
      </xacro:wamv_front_camera>
  </xacro:if>


  <!-- Attach LiDAR plugin -->
  <xacro:if value="$(arg lidar)">
      <xacro:include filename="$(find robotx_gazebo)/urdf/wamv_gazebo_lidar_plugin.xacro" />
      <xacro:wamv_HDL32E_lidar parent="base_link" name="velodyne" topic="/velodyne_points" hz="7" samples="600" min_range="1" max_range="50.0" min_angle="0" max_angle="3.14" noise="0.01">
        <origin xyz="0.3 0 1.8" rpy="0 0 -1.57" />
      </xacro:wamv_HDL32E_lidar>
  </xacro:if>


  <!-- Attach GPS plugin -->    
  <xacro:if value="$(arg gps)">
      <xacro:include filename="$(find robotx_gazebo)/urdf/wamv_gazebo_gps_plugin.xacro" />
      <xacro:wamv_gps name="wamv_gps" latitude="21.30996" longitude="-157.8901" altitude="2.5">
        <origin xyz="0.2 0.0 2.5" rpy="0 0 0" />
      </xacro:wamv_gps>
  </xacro:if>

  <!-- Attach IMU plugin -->    
  <xacro:if value="$(arg imu)">
      <xacro:include filename="$(find robotx_gazebo)/urdf/wamv_gazebo_imu_plugin.xacro" />
      <xacro:wamv_imu name="wamv_imu">
      </xacro:wamv_imu>
  </xacro:if>

  <!-- Attach p3d odometry plugin -->
  <xacro:if value="$(arg p3d)">
      <xacro:include filename="$(find robotx_gazebo)/urdf/wamv_gazebo_p3d_plugin.xacro" />
      <xacro:wamv_p3d name="wamv_p3d">
      </xacro:wamv_p3d>
  </xacro:if> 

</robot>
