<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="watchtower">
  <xacro:include filename="properties_watchtower.urdf.xacro"/>

  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-6.6859E-20 -9.7063E-17 0.20509"
        rpy="0 0 0" />
      <mass
        value="405.19" />
      <inertia
        ixx="0.80923"
        ixy="3.5773E-33"
        ixz="1.063E-17"
        iyy="0.80923"
        iyz="-2.7232E-16"
        izz="9.178E-32" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wamv_description/mesh/BIOBOT_Base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wamv_description/mesh/BIOBOT_Base.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0 0 0"/>
    <parent link="base_footprint2"/>
    <child link="base_link"/>
  </joint>

  <link name="base_footprint2"/>


</robot>
