<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="wamv_front_camera" params="name">
       
  <!-- camera position -->
  <xacro:property name="origin_left">
    <origin xyz="0.65 -0.3 1.45" rpy="0 0 0" />
  </xacro:property>
  <xacro:property name="origin_right">
    <origin xyz="0.65 0.3 1.45" rpy="0 0 0" />
  </xacro:property>


  <!-- left camera -->
  <link name="left_front_camera_link">    
    <visual>
      <origin xyz="-0.01 0 0" rpy="1.57 0 1.57"/>
      <geometry>
        <mesh filename="model://zed/zed_model.dae" scale="0.02 0.02 0.02"/>  
      </geometry>
    </visual>
  </link>
  <joint name="left_front_camera_joint" type="fixed">
    <xacro:insert_block name="origin_left" />
    <parent link="base_link"/>
    <child link="left_front_camera_link"/>
  </joint>
  <gazebo reference="left_front_camera_link">
    <sensor type="camera" name="left_camera">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller_front_left_front_camera" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>camera/left_front</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>left_front_camera</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

  <!-- right camera -->
  <link name="right_front_camera_link">    
    <visual>
      <origin xyz="-0.01 0 0" rpy="1.57 0 1.57"/>
      <geometry>
        <mesh filename="model://zed/zed_model.dae" scale="0.02 0.02 0.02"/>  
      </geometry>
    </visual>
  </link>
  <joint name="right_front_camera_joint" type="fixed">
    <xacro:insert_block name="origin_right" />
    <parent link="base_link"/>
    <child link="right_front_camera_link"/>
  </joint>
  <gazebo reference="right_front_camera_link">
    <sensor type="camera" name="right_camera">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller_front_right_front_camera" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>camera/right_front</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>right_front_camera</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>  

 </xacro:macro>
</robot>